logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
stackoverflow/src/main/resources/stackoverflow/stackoverflow.csv
wikipedia/src/main/resources/wikipedia/wikipedia.dat
derby.log
metastore_db/
